# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite database
data/clinic.db

# IDE files
.vscode/
.idea/

# macOS files
.DS_Store

# Logs and temporary files
*.log
*.tmp

assets/*.png
!assets/logo.png

utils/__pycache__/

assets/icons/*.png
!assets/icons/add_circle.png
!assets/icons/clear.png
!assets/icons/arrow_back.png
!assets/icons/save.png
!assets/icons/delete.png
!assets/icons/edit.png
!assets/icons/login.png
!assets/icons/assessment.png
.env
